<div class="row">
  <div class="col-md-8">
    <table id="myTable" class="table tablesorter">
     <thead>
       <tr>
        <th>data_bank_id</th>
        <th>title</th>
        <th>author</th>
        <th>price</th>
        <th>shipping_weight</th>
        <th>isbn-10</th>
      </tr>
    </thead>
    <tbody>
      <% @library.each do |book, content| %>
      <tr>
        <td><%= content[:data_bank_id] %></td>
        <td><%= content[:title] %></td>
        <td><%= content[:author] %></td>
        <td><%= content[:price] %></td>
        <td><%= content[:shipping_weight] %></td>
        <td><%= content[:'isbn-10'] %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
</div>