<p id="notice"><%= notice %></p>

<h1>Listing Boxes</h1>

<table class='table'>
  <thead>
    <tr>
      <th>Total weight</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @boxes.each do |box| %>
      <tr>
        <td><%= box.total_weight %></td>
        <td><%= link_to 'Show', box %></td>
        <td><%= link_to 'Edit', edit_box_path(box) %></td>
        <td><%= link_to 'Destroy', box, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Box', new_box_path %> | 
<%= link_to 'Json Boxes', boxes_path(format: :json) %>
